/* Carlos Mercedes, 12/17/2024 */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

html {
    margin-left: 30cap;
    margin-right: 30cap;
    background-image: url("/assets/Background_1_A.jpg")
}

header {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    color: #ECE2CA;
    font-size: 50px;
    padding-top: 25px;
    padding-left: 25px;
    background-image: url("/assets/header3.jpg");
    width: auto;
    height: 589px;
    image-rendering: pixelated;
    background-repeat: no-repeat
}

body {
        font-family: "Nunito", serif;
        font-optical-sizing: auto;
        font-weight: auto;
        font-style: normal;
}

.shortstory {
    border: #373d20 solid 2px;
    height: 125px;
    background-color: #ECE2CA;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border:1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: 4CAF50;
    color: red;
}

footer {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    text-align: center;
    color: #ECE2CA;
    font-size: 30px;
    background-color: #373d20;
    height: 25pc;
    padding-top: 25px
}

a {
    color: #BCBD8B;
}

.shortstory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .shortstoryimage {
    padding-right: 50px;
    float: left;
  }
  
  .shortstorytext {
    font-size: 15px;
    padding-left: 20px;
    float: left;
  }
